<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
    </head>

    <body>
        {{> header}}
        <p>Projects Page Here</p>
    </body>

    {{> footer}}
</html>